#background{
     background: url(img/65550326d777068dc8853fab9b871de1.gif)no-repeat center center/cover;
}

.home{
     background-color: rgb(12, 1, 15);
     height: 100vh;
     width: 100vw;
     display: flex;
     justify-content: center;
     align-items: center;
}

#box{
     /* display: inline-block; */
     width: 60% ;
     height: 10%;
     box-sizing: border-box;
     border: 2px solid white;
     border-radius: 60px;
     box-shadow: 1px 1px 2pc white;
     padding: 12px 12px;
     color: white;
     background-color: rgb(244, 244, 248);
     display: flex;
     justify-content: center;
     align-items: center;
}

@media only screen and (max-width:1200px) {
     #box{
          width: 50%;
          height: 50%;
          flex-direction: column;
     }
}
